  /* to make the navbar elements be on same horizontal line*/
 .nav-links-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 7rem;
 }
 /* last four navbar elements*/
#nav-right-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 1rem;
}
/* first two navbar elements*/
 #nav-left-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 1rem;
}

/* two saparate navbar elements as left and right*/
#left-nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
#right-nav-ul {
   display: flex;
    flex-direction: row;
   justify-content: flex-end;
}

#middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-box {
    width: 30rem;
    border-radius: 1rem;
    padding: 0.8rem;
    margin-bottom: 3rem;
    
    
}

 a {
   color: #111;
 }
 ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
